.aboutus{
    height:90vh;
    width:100vw;
    min-height: 100vh;

    background: linear-gradient(
        to bottom,
        #EE9B52 0%,
        #F0C38A 45%,
        #F5E6D3 100%
    );

    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}




.aboutus_left{
    width: 400px;
    height: 500px;
    border-radius: 20px;
        box-shadow:
    0 8px 32px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.5);
}

.aboutus_heading{
    font-size: 70px;
    color: rgb(216, 3, 3);
}
.aboutus_subheading1{
    font-size: 40px;
    
}
.aboutus_subheading2{
    font-size: 40px;
    color: rgb(216, 3, 3);
}
.aboutus_description{
    font-size: 15px;
      font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.aboutus_buttons{
    display: flex;
    margin-top:40px;
    gap: 20px;
    
}
.aboutus_button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(216, 3, 3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s ease, padding 0.3s ease;
}
.aboutus_button:hover{
    background-color: rgb(134, 0, 0);
    padding: 20px 30px;
}
.carousel{
    width: 100vw;
    padding: 20px 0;
    width:100vw;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.carousel-track{
    display: flex;
    width: 100vw;
    gap: 20px;
    width: max-content;

    animation: scroll 20s linear infinite;
}

.carousel-track img{
    width: 300px;
    height: 400px;

    object-fit: cover;

    border-radius: 25px;

    transition: transform 0.4s ease;
}

/* hover effect */
.carousel-track img:hover{
    transform: scale(1.05);
}


/* infinite movement */
@keyframes scroll{

    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-50%);
    }
}