.header{
    position: fixed;
    z-index: 1000;

    width: 98%;
    height: 80px;
    margin: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background: rgba(255,255,255,0.5);

    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 24px;

    box-shadow:
        0 8px 32px rgba(0,0,0,0.25),
        inset 0 1px 1px rgba(255,255,255,0.2);
}

.header{
    animation: slideUp 1s ease forwards;
    animation-delay: 0.3s;
}   

/* Animation */
@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.header h1{
align-self: center;
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

.header img{
    height: 80px;
    width: 100px;
    border-radius: 20px;
}
.header_right{
    display: flex;
    gap: 20px;
    padding-right: 20px;
      font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
}
.header_left{
    display: flex;
    gap: 20px;
}
.nav-link{
  color: black;
  font-size: 20px;
  transition: all 0.5s ease;
    text-decoration: underline red;
}

.nav-link:hover{
    color: rgb(216, 3, 3);
    font-size: 26px;
      text-decoration: underline white;
}