.quote_text{
      font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.quote{
    background: linear-gradient(
        to bottom,
        #EE9B52 0%,
        #F0C38A 45%,
        #F5E6D3 100%
    );

    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    gap:120px;
}

.quote img{
    height: 500px;
    width: 400px;
    border-radius: 20px;
        box-shadow:
    0 8px 32px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(255,255,255,0.5);

}
.quote_right{
    padding-top:100px;
    width: 600px;
    height: 500px;

}
.author{
    color: rgb(216, 3, 3);
    padding-top: 100px;
    padding-left:200px;
}
.designation{
    padding-top: 7px;
    padding-left: 220px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}